body {
    background-color:#0b0c10;
    font-family:Montserrat;
    color:#0b0c10;
}

.container{

    padding-top: 100px;
    border-radius: 60px;
    background-color: #e0e0e0;
    text-align: center;
    height:60%;
    width: 85%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 15px;
    margin: auto;
    color: #0b0c10;
       
  }
  
  .btn{
      border-radius: 50px;
      width: 100px;
      height: 40px;
      border:0px;
      border-radius: 50px;
      background: #e0e0e0;
      box-shadow:  15px 15px 50px #bebebe,
             -15px -15px 50px #ffffff;
  }

  .btn:hover{
    background-color: #0b0c10;
    color: #e0e0e0;
    transition: 0.2s;
  }

  #p{
    border-radius: 50px;
  }

  #y{
    border-radius: 50px;
    width: 40px;
    border:0px;
  }
