body {
    background-color:#ffffff;
    font-family:Montserrat;
    color:#0b0c10;
}

.container{

    padding-top: 100px;
    border-radius: 60px;
    background-color: #111111;
    text-align: center;
    height:60%;
    width: 85%;
    background-position: center;
    background-size: cover;
    position: relative;
    font-size: 15px;
    margin: auto;
    color: #fff;
       
  }
  
  .btn{
      border-radius: 50px;
      width: 100px;
      height: 40px;
  }

  #p{
    border-radius: 50px;
  }

  #y{
    border-radius: 50px;
    width: 40px;
  }